variables/INC rules

operators

data types

Programming constructs/control flow statement : conditions [if]/loops [for | while]  
                                                                            -  continue break

# function
----------------------
print()
type()
range()
id()
dir()
len()

str()
float()
int()
bool()

list()
tuple()

# range function: To generate the range of numbers

In [ ]:
# range(start, end, step)
range(0, 10, 1)    # [0, 1, 2, 3 ....9]
range(10, 0, -1)   # [10, 9, 8....., 1]

# Data structures: how the data get stored

Properties of DS in base python:
1. All DS are hetrogenous
2. All DS are 1D
3. tuples are immutable: you cant modify the values in same memory location. 
    All other 3 are mutable


tuple : () or no brackets      []    
list  : []                     []    =      
dict  : {}                     []    =
set   : {} [keyless dict]            

# 5 diff things:
-----------------------------------------------------------------
1. How to create them
2. how to access the values from them [index pos/slicing]
3. How to modify the values within them (if possible)
4. functions (methods of the ds)
5. how to perform matemetical operations and indexing [filtering] on ds

#### create a tuple/list

In [2]:
t1 = (3, 5, 2.5, 'Python', True)

In [3]:
l1 = [3, 5, 2.5, 'Python', True]

In [4]:
l2 = ['John', 'Andrina', 'Andrew']
print (l2)

['John', 'Andrina', 'Andrew']

In [5]:
l3 = ['EmpID', 'EmpName', 'Salary']

#### how to access values from tuple/list

In [6]:
l1[::]

[3, 5, 2.5, 'Python', True]

In [7]:
l1[2]

2.5

In [8]:
l1[2:3]

[2.5]

In [9]:
t1

(3, 5, 2.5, 'Python', True)

In [10]:
t1[:3]

(3, 5, 2.5)

In [11]:
t1[4::-1]

(True, 'Python', 2.5, 5, 3)

#### how to update the values in ds

In [12]:
l1

[3, 5, 2.5, 'Python', True]

In [13]:
id(l1)

2015693160008

In [14]:
l1[2] = 0

In [15]:
l1

[3, 5, 0, 'Python', True]

In [16]:
id(l1)

2015693160008

In [17]:
t1

(3, 5, 2.5, 'Python', True)

In [18]:
id(t1)

2015692797608

In [19]:
t1[2] = 99

TypeError: 'tuple' object does not support item assignment

In [20]:
t1 = (3, 5, 0, 'Python', True)

In [21]:
t1

(3, 5, 0, 'Python', True)

In [22]:
id(t1)

2015694467336

In [23]:
l1

[3, 5, 0, 'Python', True]

In [24]:
l5 = l1

In [25]:
l5

[3, 5, 0, 'Python', True]

In [26]:
l5[2] = -1

In [27]:
l5

[3, 5, -1, 'Python', True]

In [28]:
l1

[3, 5, -1, 'Python', True]

#### methods (functions) of the tuples

In [29]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
t2 = (3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [31]:
t2

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [32]:
t2.count(5)

4

In [33]:
t2.index(5)

2

In [34]:
t2

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [35]:
val = 6

In [36]:
t2.index(val, t2.index(val) + 1)

8

In [37]:
len(t2)

14

In [38]:
t2.index(5,3)

6

In [39]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [40]:
l1

[3, 5, -1, 'Python', True]

In [41]:
l2

['John', 'Andrina', 'Andrew']

In [42]:
l1.append(99)

In [43]:
l1

[3, 5, -1, 'Python', True, 99]

In [44]:
l1.insert(2, 100)

In [45]:
l1

[3, 5, 100, -1, 'Python', True, 99]

In [46]:
l1.extend(l2)

In [47]:
l1

[3, 5, 100, -1, 'Python', True, 99, 'John', 'Andrina', 'Andrew']

In [48]:
l1.append(l2)

In [49]:
print(l1)

[3, 5, 100, -1, 'Python', True, 99, 'John', 'Andrina', 'Andrew', ['John', 'Andrina', 'Andrew']]

In [50]:
l1.pop(10)

['John', 'Andrina', 'Andrew']

In [63]:
l1

[5, -1, 'Python', True, 99, 'John', 'Andrina', 'Andrew']

In [62]:
l1.remove(100)

print(l1)

In [64]:
l2.clear()

In [65]:
l2

[]

In [131]:
l1.reverse()

In [66]:
l1

[5, -1, 'Python', True, 99, 'John', 'Andrina', 'Andrew']

In [67]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
t2

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [76]:
l1 = list(t2)

In [77]:
l1

[3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5]

In [79]:
t3= tuple(l1)
t3

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [74]:
l1.sort?
l1

[2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7]

#### indexing/matematical operations

In [80]:
l1

[3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5]

In [81]:
l1 > 5

TypeError: '>' not supported between instances of 'list' and 'int'

In [83]:
l1

[3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5]

In [147]:
l1 + 10

TypeError: can only concatenate list (not "int") to list

In [86]:
l1 = [20, 25, 55, 70]

In [156]:
len(l1)

4

In [162]:
# add number 10 to all elemets in list and print the values after addition
for ivar in range(len(l1)):
    print(l1[ivar] + 10)

30
35
65
80

In [92]:
l1

[40, 45, 75, 90]

In [93]:
# add number 10 to all elemets in list update the original list
for ivar in range(len(l1)):
    l1[ivar] = l1[ivar] + 10

In [94]:
l1

[50, 55, 85, 100]

In [169]:
# add number 10 to all elemets in list, store the values in new list l2 after updation
l2 = []
for ivar in range(len(l1)):
    l2.append(l1[ivar] + 10)

In [170]:
l2

[40, 45, 75, 90]

In [99]:
l1

[50, 55, 85, 100]

In [103]:
l2=[]
for i in range(len(l1)):
    l2[i]=l1[i]+10

IndexError: list assignment index out of range

In [105]:
# add number 10 to all elemets in list, store the values in new list l2 after updation
l2 = []
for ivar in range(len(l1)):
    l2.append(l1[ivar] + 10)
    print(l2)
print(l2)

[60]
[60, 65]
[60, 65, 95]
[60, 65, 95, 110]
[60, 65, 95, 110]

In [185]:
for ivar in range(len(l1)):
    print(l1[ivar])

30
35
65
80

In [ ]:
for ivar in range(len(l1)):
    if l1[ivar] > 50:
        print(l1[ivar])

In [186]:
t2

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [106]:
# find occurance of number in a iterable
num = 4
occ = 3
iC = 0

for ivar in range(len(t2)):
    if t2[ivar] == num:
        iC = iC + 1

        if iC == occ:
            print(ivar)

9

In [107]:
t2

(3, 4, 5, 4, 3, 6, 5, 7, 6, 4, 3, 2, 5, 5)

In [111]:
# find index/occurance of number in a iterable
num = 5
occ = 4
iC = 0

for ivar in range(len(t2)):
    if t2[ivar] == num:
        iC = iC + 1
    
    if iC == occ:
        print(ivar)
        break

13

In [200]:
for ivar in range(len(l1)):   # [0, 1, 2, 3]
    print(l1[ivar])

30
35
65
80

In [112]:
l2 = []
for ivar in l1:  # [30, 35, 65, 80]
    if ivar > 50:
        l2.append(ivar + 10)
print(l2)

[65, 95, 110]

In [205]:
l1

[30, 35, 65, 80]

In [ ]:
for ivar in l1:
    ivar + 10

In [215]:
# list comprehensions
l2 = [ivar + 10 for ivar in l1 if ivar > 50]

In [216]:
l2

[40, 45, 75, 90]

### List Comprehsion

In [1]:
l1 = [2,3,-1,1.2, 10,17]

In [2]:
l2=[i+10 for i in l1]

In [3]:
l2

[12, 13, 9, 11.2, 20, 27]

In [4]:
l3= [i for i in l2 if i>10]

In [5]:
l3

[12, 13, 11.2, 20, 27]

In [7]:
#Square root
sq2=[ i**2 for i in range(10)]
sq2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
name=['om','rohit','sumit','gita']

In [11]:
n2=[i[0 ]for i in name]
n2

['o', 'r', 's', 'g']

In [14]:
n3=[i[::-1] for i in name]
n3

['mo', 'tihor', 'timus', 'atig']

In [19]:
#even odd
l5=[i for i in l2 if i%2==0]
l5

[12, 20]

In [21]:
l6=[i for i in l2 if i%2!=0]
l6

[13, 9, 11.2, 27]

### Nested List Comphension

In [22]:
l=[[1,2,3],[4,5,6],[9,10,13]]

In [27]:
ll=[[i for i in l] for j in range(1)]
ll

[[[1, 2, 3], [4, 5, 6], [9, 10, 13]]]

#### dict

d1 = {key1:val1, key2:val2......., keyn:valn}

keys can be anything of immutable type, but use only simple types (int/str) as keys

In [219]:
d1 = {1: 3, 2: 5, 10: 99}

In [115]:
d2 = {'Empid': 1001, 'EmpName': 'John', 'Salary': 100.5}
d2

{'Empid': 1001, 'EmpName': 'John', 'Salary': 100.5}

In [226]:
d3 = {t1: 10, 10: 99, 10.5: 10}

In [227]:
d3

{(3, 5, 0, 'Python', True): 10, 10: 99, 10.5: 10}

In [220]:
type(d1)

dict

In [232]:
d1

{1: 3, 2: 5, 10: 99}

In [235]:
d1[10] = -99

In [236]:
d1

{1: 3, 2: 5, 10: -99}

In [240]:
d1.items()

dict_items([(1, 3), (2, 5), (10, -99)])

In [238]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [241]:
d1

{1: 3, 2: 5, 10: -99}

In [242]:
for i in d1.keys():
    print(d1[i])

3
5
-99

In [243]:
d4 = {1:3, 2:4, 3:5, 1:6}

In [244]:
d4

{1: 6, 2: 4, 3: 5}

In [245]:
d4[4] = 99

In [246]:
d4

{1: 6, 2: 4, 3: 5, 4: 99}

In [247]:
d4[2] = 20

#### sets

In [117]:
s1 = {2, 7, 3, 9, 1, 3, 2}

In [118]:
s1

{1, 2, 3, 7, 9}

In [119]:
type(s1)

set

In [121]:
s1[2]

TypeError: 'set' object is not subscriptable

In [255]:
for i in s1:
    if i > 5:
        print(i)

7
9

In [256]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [122]:
s1

{1, 2, 3, 7, 9}

In [123]:
s2 = {2, 20, 30, 40}

In [124]:
s2

{2, 20, 30, 40}

In [125]:
s1.difference(s2)

{1, 3, 7, 9}

In [126]:
s1.intersection(s2)

{2}

### Dist/set comphension

In [28]:
d1={1:1,2:4,3:9,4:16}

In [30]:
d1={i:i**2 for i in range(10)}
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}