In [1]:
a = [1, 2, 3, 'Python']

In [2]:
len(a)

4

In [7]:
b = 'Python'

In [8]:
len(b)

6

In [9]:
for i in b:
    print(i)

P
y
t
h
o
n

In [ ]:
i = i + 1

i += 1

## UDF's - User defined functions

In [ ]:
print, len, type, str, int, float, str, bool, id, list, tuple, dict, dir

True False None

def functionname(arg1, arg2......):
    line1
    line2
    ..
    linen
    
    return value

In [15]:
# write a program to add two no
def fn_sum2no(n1, n2):
    return n1 + n2

In [16]:
fn_sum2no(5, 10)

In [11]:
5 + 10

15

In [20]:
# write a program to divide two no
def fn_div2no(n1, n2):
    return n1 / n2

In [21]:
fn_div2no(10, 5)

2.0

In [22]:
fn_div2no(5, 10)

0.5

In [23]:
fn_div2no(n2 = 5, n1 = 10)

2.0

In [30]:
# write a program to sub two no
def fn_sub2no(n1 = 0, n2 = 0):
    return n1 - n2

In [36]:
a = 20

In [37]:
fn_sub2no(a)

20

In [70]:
print?

In [133]:
# add n numbers   *args

def fn_sum(*args):
    
    Sum = 0
    for ivar in args:
        if type(ivar) in (int, float, bool):
            Sum += ivar #Sum = Sum + ivar
            
    return Sum

In [134]:
a = fn_sum(1, 2, False, 3, 4.7, 5, 'a')

In [135]:
fn_sum()

0

In [69]:
fn_sum(1, 2, False, 3, 4.7, 5, 'a', 1, 3, 4, 5, 4)

32.7

In [67]:
b

'Python'

In [83]:
d1 = {1: 'a', 2:'b'}

In [ ]:
d1[2]

In [91]:

def func(**kwargs):
    Sum = 0
    for iC in kwargs:
        Sum = Sum + kwargs[iC]
    return Sum

In [92]:
func(a = 1, b = 2, c = 3)

6

In [137]:
def funcname(n1, n2, *args, **kwargs, n3 = 1, n4 = 5):
    return n1 + n2 + n3

In [139]:
funcname(10, 20, 5)

31

In [138]:
# function to get the area of square, circle, rect and cylender
s --> side
c --> r
r --> l, b
cy --> r, h

In [153]:
# def area(shape, side = 0, radius= 0, length=0, width=0, height=0)

def area(shape, **kwargs):
    if shape == 's': 
        Area = kwargs['side'] ** 2
        
    elif shape == 'c':
        Area = 3.14 * kwargs['radius'] ** 2
        
    elif shape == 'r':
        Area = kwargs['length'] * kwargs['width']
    
    elif shape == 'cy':
        Area = 3.14 * kwargs['radius'] ** 2 * kwargs['height']
    
    else:
        Area = None
        
    return Area

In [155]:
area('r', length = 10, radius = 30, width = 30)

300

In [156]:
range?

### lambda functions (map and filter)

In [167]:
def func(l1):
    l2 = []
    for i in l1:
        l2.append(i + 10)
    return l2

In [173]:
l1 = [10, 20, 30, 5]
l2 = [5, 10, 15, 20]

In [169]:
func(l1)

[20, 30, 40, 15]

In [178]:
fn = lambda x, y: x + y

In [179]:
fn(30, 40)

70

In [182]:
tuple(map(lambda x: x**2, l1))

(100, 400, 900, 25)

In [174]:
list(map(lambda x, y: x + y, l1, l2))    # [10, 20, 30, 5]

[15, 30, 45, 25]

In [158]:
lambda l1: l1

In [183]:
l1

[10, 20, 30, 5]

In [185]:
list(filter(lambda x: x > 15, l1))

[20, 30]

In [186]:
filter?

In [191]:
def func(x):
    return x > 15

In [192]:
list(filter(lambda y: func(y), l1))

[20, 30]

In [ ]:
Empid, Name, Salary

In [193]:
d1 = {'EmpID': [1001, 1002, 1003, 1004], 
          'EmpName': ['John', 'Andrina', 'Andrew', 'Smith'],
             'Salary': [100.4, 150, 120, 344]}

In [194]:
d1

{'EmpID': [1001, 1002, 1003, 1004],
 'EmpName': ['John', 'Andrina', 'Andrew', 'Smith'],
 'Salary': [100.4, 150, 120, 344]}

### OOP - Object Oriented Programming

In [195]:
a = 1
b = 2

In [ ]:
def

In [196]:
c = 5

In [ ]:
numpy: numerical python
pandas: panel data analysis

In [ ]:
numpy: 1 ds -- numpy arrays (ndarray)
                homogenous
                multi dimentional

In [198]:
# how to create them
import numpy as np

In [200]:
print(dir(np))

In [ ]:
Properties:
    ndarray
    homogenous
    
How to create numpy arrays:
    1. From base data structures
    2. Inbuilt methods
    3. from external data

In [ ]:
input()