In [15]:
print("hello")
print('hello')
#print("'hello"') throw error
print('hello "world"')
print("hello 'world' ")
#print('hello 'world'') throw error
print("hellow\"world\"")
print('I\'m om')
print('om \n shukla')
print(r'om \n shukla')
print('om\\')
#print('om\')

hello
hello
hello "world"
hello 'world'
hellow"world"
I'm om
om
 shukla
om \n shukla
om\

In [27]:
a='this is my 1st python program'
print(a, end=',')

this is my 1st python program,hello,hi,TutorialsPoint,python

In [28]:
# input list
lst = ['hello', 'hi', 'TutorialsPoint', 'python']

# List to String
resultString = ','.join(lst)
print(resultString)

hello,hi,TutorialsPoint,python

Python

General Purpose language
Open source
Interpreted language
OOP
Loosely typed/dynamically typed
Case sensitive [Most of the reserved keywords are in lower case]

Every notebook is  new seesion

# variable naming conventions: INC (Indentifier naming conventions)
----------------------------------------------------------------------------
1. Can be alpha numeric   var1 a1 py123
2. No special Chars, except underscore _
3. Names can start only with char or underscore   
            [var1 a1 py123] correct
            [_var _1a __a__]
            [1py 1a] incorrect
            
4. Names can have n no of chars, generally not recommended
5. Dont use reeserved keywords as names

# Operators
-----------------------------------
Assignment: =

Arithmatic: + - * / // ** BODMAS

Arithmatic + Assignment: += -= *= /=....

Comparision/Relationship: Output: True/False
    single valued: == != > >= < <=
    multi valued/membership: in

Logical: [bitwise: & | -]
    and or  
    not
    
#BODMAS RULE
()
**
/,//,*,%
+,-
always move from left to right

datatypes:
--------------------------------------
str -8 byte
float -8 byte
int -8 byute
bool- 1 bit

Type conversion functions:
--------------------------------------
str()
float()
int()
bool()

Note: List, array, tuple, set are the data structure, not the data type

In [29]:
a='pyhton'
type(a)

str

#Type conversion
bool() -> int() -> float()->str() but vice versa is not possible

In [31]:
True+7+2.5

10.5

# programming constructs:
---------------------------------------
Conditional Constructs: if statement
    if condition/s:
        line1
    elif condion/s:
        line3
    else:
        linen
        
    ternary if: if(condtion/s, truevalue, falsevalue): excel
        truevalue if condition/s else falsevalue

Iterable/loops: 
    while : conditional loop :  entry controlled loop
    while condition/s:
        line1
        line2....
            
    for : ranged loop
    for varname in range/iterable:
        line1

line2....

In [32]:
# Conditional loops: write a table of 5
# 5 * 1 = 5
# 5 * 2 = 10

n1, n2 = 13, 1  
while n2 <= 10:
    print(n1, ' * ', n2,  ' = ', n1 * n2)
    n2 = n2 + 1

13  *  1  =  13
13  *  2  =  26
13  *  3  =  39
13  *  4  =  52
13  *  5  =  65
13  *  6  =  78
13  *  7  =  91
13  *  8  =  104
13  *  9  =  117
13  *  10  =  130

# range function: range
Syntax: 
-------------------------------------------------------------------
    range(startvalue, endvalue, step)
    range(startvalue, endvalue) # defalut of step 1
    range(endvalue) # defalut of startvalue 0, defalut of step 1

In [1]:
 range(10)    # [0, 1, 2, 3, ..... 9]

range(0, 10)

In [141]:
# ranged loops: for   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for iCounter in range(1, 10, 2):
    print(iCounter)

1
3
5
7
9

In [146]:
for iCounter in range(0, 1, 1):
    print(iCounter)

0

In [151]:
for iCounter in (1, 2, 3, 4):
    print(iCounter)

1
2
3
4

In [1]:
for iCounter in range(10, 0, -1):
    print(iCounter)

10
9
8
7
6
5
4
3
2
1

In [2]:
# print positive if numbers is positive and negative if < 0
num = -5

In [3]:
# if statement
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Negative

In [4]:
num = 0

In [5]:
# ternary if statement
# 'positive' if num > 0 else 'negative'

var = 'positive' if num > 0 else 'negative' if num < 0 else 'zero'
var

'zero'

In [ ]:
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

In [6]:
num = 0

In [7]:
if (num >= 0):
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Positive

In [8]:
if (num >= 0):
    print('Positive')
    
if num == 0:
    print('Zero')

Positive
Zero

In [9]:
a = 'Python'
b = 'Class'

In [63]:
a + b + str(2)

'PythonClass2'

In [11]:
5 + int(a)

ValueError: invalid literal for int() with base 10: 'Python'

In [45]:
b = int(a)

In [47]:
type(b)

int

In [38]:
7-9-2019

-2021

In [24]:
5 / 2 + 4

False

In [25]:
4 > 3

True

In [36]:
5 == 4 and (4 > 3  or 1 == 1)

False

In [17]:
var = 5

In [21]:
print(var)

Python

In [4]:
type(var)

int

In [19]:
var = "Python"

In [20]:
print(var)

Python

In [8]:
type(var)

str